body {
  font-family: "Open Sans", arial;
  padding: 0;
}

div.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px auto 25px 1fr;
  justify-items: center;
  grid-column-gap: 10px;
}

div.heading {
  padding-top: 1em;
  grid-column: 1 / span 5;
  grid-row: 1 / span 1;
  font-size: 2em;
}

div.candidate {
  grid-row: 2;
  border-radius: 5px;
  padding: .5em;
}

div.selected-candidate {
  background-color: #ddd;
}

div.candidate.candidate-0 {
  grid-column:1;
}

div.candidate.candidate-1 {
  grid-column: 2;
}

div.candidate.candidate-2 {
  grid-column: 3;
}

div.candidate.candidate-3 {
  grid-column: 4;
}

div.candidate.candidate-4 {
  grid-column: 5;
}

div.selected-candidate-meta {
  grid-column: 2 / span 3;
  grid-row: 4;
}
