body {
  font-family: "Open Sans", arial;
  padding: 0px;
  margin: 0px;
}

div.wrapper {
  padding: 0 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
  "header"
  "nav"
  "voting-controls"
  "selected-candidate-meta"
}

@media screen and (min-width: 600px) and (max-width: 799px){
  div.wrapper {
    grid-template-columns: 1fr 150px;
    grid-template-areas:
    "header header"
    "nav null"
    "selected-candidate-meta voting-controls";
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .vote-button {
    margin: .5em auto 0 auto
  }
}

@media screen and (min-width: 800px) {
  div.wrapper {
    grid-template-columns: 150px 1fr 200px;
    grid-template-areas:
    "header header header"
    "nav selected-candidate-meta voting-controls";
    max-width: 1024px;
    margin: 0 auto;
  }
  .vote-button {
    margin: .5em auto 0 auto
  }
}

.header {
  grid-area: header;
  font-size: 2em;
}

h1 {
  font-size: 1em;
  margin: 0;
}

.nav {
  grid-area: nav;
  padding: 0px;
  margin: 0px;
}

.selected-candidate-meta {
  grid-area: selected-candidate-meta;
}

.voting-controls {
  grid-area: voting-controls;
}

.vote-confirmation-text {
  display: none;
}

.vote-button {
  display: none;
	padding: 10px;
	border-radius: 10px;
	border: 3px #c00;
	font-size: 1em;
  color: white;
  background-color: #006700;
  margin: .5em 0 0 0;
}

.vote-button:hover {
  background-color: #003800;
}

ul.nav li {
  list-style-type: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

li.selected-candidate {
  background-color: #ddd;
}

div.selected-candidate-party, div.selected-candidate-district {
  font-weight: bold;
}
