body {
  font-family: "Open Sans", arial;
  padding: 0px;
  margin: 0px;
}

div.wrapper {
  padding: 0 10px;
  display: grid;
  grid-row-gap: 10px;
  grid-template-areas:
  "header"
  "nav"
  "selected-candidate-meta"
  "voting-controls";
}

@media screen and (min-width: 600px) and (max-width: 799px){
  div.wrapper {
    grid-template-columns: 1fr, 100px;
    grid-template-areas:
    "header header"
    "nav nav"
    "selected-candidate-meta voting-controls";
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 800px) {
  div.wrapper {
    grid-template-columns: 200px 1fr 200px;
    grid-template-areas:
    "header header header"
    "nav selected-candidate-meta voting-controls";
    max-width: 1024px;
    margin: 0 auto;
  }
}

.header {
  grid-area: header;
  font-size: 2em;
}

.nav {
  grid-area: nav;
  padding: 0px;
  margin: 0px;
}

.selected-candidate-meta {
  grid-area: selected-candidate-meta;
}

.voting-controls {
  grid-area: voting-controls;
}

ul.nav li {
  list-style-type: none;
  border-radius: 5px;
  padding: 5px;
}

li.selected-candidate {
  background-color: #ddd;
}

div.selected-candidate-party, div.selected-candidate-district {
  font-weight: bold;
}
